{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<section id="one" class="wrapper special">
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/register/" method="post">
	<header><h2>Please register to take a Quiz:</h2>
        {% if messages %}
        {% for message in messages %}
         <p>{{ message }}</p>
	<br />
        {% endfor %}
       {% endif %}

        </header>

        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" name="password" id="password" placeholder="Password">
            </div>
        </div>
	<div class="control-group">
            <label class="control-label" for="password_repeat">Repeat Password</label>
            <div class="controls">
                <input type="password" name="password_repeat" id="password_repeat" placeholder="Repeat Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" class="btn">Login</button>
            </div>
        </div>
        </form>
    </div>
</section>
<script src="{% static 'typify-562735458/assets/js/jquery.min.js' %}"></script>
<script>
$( document ).ready(function() {
console.log("labas");
document.getElementById('login').focus();
window.location.hash = '#login';
});
</script>
{% endblock %}
